<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>text summarizer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Text Summarizer</h1>
        <h3>using hugging face transformers</h3>
        <p>write or paste the text you want to summarize below:</p>

        <form id="summarization-form">
            <textarea id="dialogue-input" placeholder="Enter the text you want to summarize..."></textarea><br>
            <button type="submit" >Summarize</button>
        </form>

        <div id="summary-output">
            <h3 id="summary-heading">Summary:</h3>
            <p id="summary-text"></p>
        </div>

    </div>
    <script src="/static/script.js"></script>
</body>
</html>